
/* Programa 1 */

/* :root {
    --stable: 0px;
}

* {
    font-family: var(--font-family-s);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    background-color: var(--color-s);
    padding: 60px 20px 60px;
    border-radius: 10px;
}

select {
    height: fit-content;
    min-height: 40px;
    background-color: #EEE;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    width: 90%;
    margin-bottom: 50px;
    font-size: var(--font-size-s);
} */


/* Programa 2 */

/* * {
    font-size: 1.1em;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 600px;
    min-height: 400px;
    height: fit-content;
    background-color: #00d79e;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

input {

    background-color: rgb(9, 24, 24);
    width: 90%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
    color: white;
}

select {
    width: 92%;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
} */

/* div {
    width: 600px;
    height: 200px;
    background-color: #EEE;
    border: 0.5px solid rgb(89, 89, 89);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
} */




/* DOM  */

/* // Programa 1 */

/* body {
    font-family: Arial, Helvetica, sans-serif;
}

.atribuir {
    text-align: center;
    padding-top: 20px;
}

.atribuir input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
}

.atribuir input:focus {
    outline: none;
    border-color: #ccc;
}

.atribuir [title="Atual"] {

    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
}

.atribuir .classes-lista {
    padding: 20px;
    margin: 10px auto;
    width: 610px;
    background-color: #f1f0f0;
}

.atribuir .classes-lista h5 {
    margin: 0 0 10px;
    text-align: left;
}

.atribuir .classes-lista div span {
    background-color: #ff5722;
    padding: 6px 10px 8px;
    margin-right: 5px;
    border-radius: 6px;
    color: white;
    display: inline-flex;
    margin-bottom: 5px;
} */