.botao {
    border-style: none;
    height: 40px;
    padding: 6px 12px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow .6s ease;
}

botao.verde {
    background-color: #13CE66;
}

botao.vermelho {
    background-color: #FF4949;
}