body {
    display: flex;
}

.jogo-container {
    width: 500px;
    height: 730px;
    position: absolute;
    left: 80px;
}
.borda-esquerda {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
}
.borda-direita {
    width: 80px;
    height: 790px;
    position: absolute;
    background-color: white;
    z-index: +2;
    left: 580px;
}

.borda-topo {
    width: 660px;
    height: 50px;
    position: absolute;
    background-color: white;
    z-index: +2;
    top: -50px;
}
.ceu {
    background-image: url('../img/fb-game-background.png');
    /* background-color: blue; */
    width: 500px;
    height: 580px;
    position: absolute;
}
.chao {
    background-image: url('../img/bottom-background.png');
    /* background-color: brown; */
    width: 500px;
    height: 150px;
    position: absolute;
    top: 580px;
    z-index: +1;
}

.passaro {
    background-image: url('flappy-bird.png');
    /* background-color: yellow; */
    position: absolute;
    width: 60px;
    height: 45px;
    left: 220px;
    bottom: 100px;
}

.obstaculo {
    background-image: url('flappybird-pipe.png');
    width: 60px;
    height: 300px;
    position: absolute;
}

.topoObstaculo {
    background-image: url(../img/flappybird-pipe.png);
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

@keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }
  
  @-webkit-keyframes slideright {
    from {
        background-position: 10000%;
    }
    to {
        background-position: 0%;
    }
  }

  .chao-container {
      height: 150px;
      width: 580px;
      left: 80px;
      position: absolute;
  }
  .chao-movendo {
      position: absolute;
      top: 580px;
      height: 150px;
      background-image: url('../img/bottom-background.png');
      background-repeat: repeat-x;
      animation: slideright 100s infinite linear;
      -webkit-animation: slideright 100s infinite linear;
      width: 100%;
      z-index: +1;
  }